
# Data Sets
spamassassin_public_corpus
archive.ics.uci.edu
UD
word2vec
data
glove
stanford_parser

# Data
*.xml
*.mp3
*.csv

# Python
__pycache__
*.pkl
*.npy
.ipynb_checkpoints

# Tensorflow
*.ckpt.*
checkpoint

# Keras
keras_models

# Other
Literature
